#panels {
	display: table-row;
}

#grid1, #grid2 {
	width: 496px;
	display: table-cell;
}

#commands {
	text-align: center;
	width: 50px;
	vertical-align: middle;
	display: table-cell;
}

#commands div {
	padding: 5px;
}

#commands div a {
	width: 35px;
	text-align: center;
}


#portletlightwhite{
	background: #eff3f8;
}

/** Menu Profile Maintenance  */

.selectmenumaintenance {
background-color: white;
border: 1px solid #e5e5e5;
border-radius: 0;
box-shadow: none;
color: #333333;
font-size: 14px;
width: 346px;
height: 36px;
font-weight: normal;
transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}


#receiveicon {
float: right;
height: 54px;
margin-right: 39%;
margin-top: -13px;
opacity: 0.5;
width: 59px;
}
.margin-bottom-5-right-allign_Menu_Profile_LookUp {
    margin-bottom: 5px;
    margin-right: 41.3%;
    float: right;
}

/* .margin-bottom-5-right-allign_menu_add_profile{
       margin-top: 11px;
margin-bottom: 5px;
margin-left: 80%;
} */

#MenuProfileOptionlblID{
       margin-left: 546px;
width: 46.8%;
position: relative;
float: left;
}

#MenuOptionlblID{
       width: 42.5%;
position: absolute;
}

#lblMenuOptiontitleDiv{
       
       color:#000000; color: #000000;
font-weight: 600;
width: 290px;
position: relative;
font-weight:600;
}

#lblMenuPRofileOptionDiv{
       color:#000000; color: #000000;
font-weight: 600;
width: 290px;
position: relative;
font-weight:600
}



/* Menu Profile maintenance lookup */


.displayallprofile {
    font-size: 14px;
    font-weight: 600;
    margin-left: 62%;
    position: relative;
    top: -29px;
}

#col-md-6_menuprofile {
    margin-left: 21px;
    width: 49%;
}

.margin-bottom-5-right-allign_menu_profile_maintenance {
-webkit-transform: rotate(90deg);
transform: rotate(90deg);
position: absolute;
margin-left: 40.5%;
margin-top: 89px;
}



#AddBtn{
margin-left: 91.9%;
margin-bottom: 1%;
}

 .k-grid th.k-header, .k-grid-header {

    white-space: normal !important;
    padding-right: 0px !important;
}

.k-grid-content>table>tbody>tr {
	overflow: visible !important;
    white-space: normal !important;
    
}

.k-grid-content {
position: relative;
width: 100%;
overflow: auto;
overflow-x: auto; 
overflow-y:hidden !important;
zoom: 1;
} 

fa-remove:before, .fa-close:before, .fa-times:before {
	margin-right: 5px !important;
}

.icon-pencil:before {
	margin-right: 5px !important;
}


.k-icon, .k-state-disabled .k-icon, .k-column-menu .k-sprite {
opacity: .8;
margin-top: 5px;
}

#ErrorMessageAppIcon{
	/* top: -34px; left: 446px; */
	 position: relative;
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
{
	/** Menu Profile Maintenance */
.margin-bottom-5-right-allign_Menu_Profile_LookUp {
  float: right;
right: -5.7%;
position: relative;
}

#MenuProfileOptionlblID{
       margin-left: 458px;
width: 47.3%;
position: relative;
float: left;
}


#MenuOptionlblID{
       width: 42.2%;
position: absolute;
}

/* #MenuProfileSaveAndCancel{
       
       margin-top: 19px;
margin-left: 78.2%;
       
} */


.selectmenumaintenance{
       width: 278px;
       
}

/* #MenuProfileSaveAndCancel {
    margin-top: 19px;
    margin-left: 77.8%;
} */

#receiveicon {
    float: right;
    height: 54px;
    margin-right: 36%;
    margin-top: -13px;
    opacity: 0.5;
    width: 59px;
}

#ErrorMessageAppIcon{
	top: 0px; left: 0px; position: relative;
}

}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait)
{
	
	
	/** Menu Profile Maintenance */
	
	#ErrorMessageAppIcon{
	top: 0px; left: 0px; position: relative;
}


#MenuOptionlblID {
    width: 46.6%;
    position: relative;
    float: left;
    top: 41px;
}

#MenuProfileOptionlblID {
    right: 0px;
    width: 46.7%;
    position: relative;
    float: right;
}
/* #MenuProfileSaveAndCancel{
       
       margin-top: 19px;
margin-left: 71.6%;
       
} */
.selectmenumaintenance{
    width: 345px;
}
/* #MenuProfileSaveAndCancel {
    margin-top: 19px;
    margin-left: 70.9%;
} */
.portlet {
    margin-top: 33px !important;
    margin-bottom: 26px !important;
    padding: 0px !important;
}
.margin-bottom-5-right-allign_Menu_Profile_LookUp {
    margin-bottom: 5px;
    margin-right: 50%;
    float: right;
}
	
}