/***
Login page
***/
/* logo page */
.login {
  background-color: #444 !important;
}

.login .logo {
  margin: 0 auto;
  margin-top: 60px;
  padding: 15px;
  text-align: center;
}
.login .content {
    background-color: #fff;
    left: 197px;
    margin: 0 auto;
    padding: 20px 30px 15px;
    position: relative;
    width: 360px;
	height:auto;
	box-shadow: 0px 0px 100px -40px #000000;
}

.login .content h3 {
  color: #000;
}

.login .content h4 {
  color: #555;
}

.login .content p {
  color: #222;
}

.login .content .login-form,
.login .content .forget-form {
  padding: 0px;
  margin: 0px;
}

.login .content .input-icon {
  border-left: 2px solid #35aa47 !important;
}

.login .content .input-icon .form-control {
  border-left: 0;
}

.login .content .forget-form {
  display: none;
}

.login .content .register-form {
  display: none;
}

.login .content .form-title {
  font-weight: 300;
  margin-bottom: 25px;
}

.login .content .form-actions {
  background-color: #fff;
  clear: both;
  border: 0px;
  border-bottom: 1px solid #eee;
  padding: 0px 30px 25px 30px;
  margin-left: -30px;
  margin-right: -30px;
}

.login .content .form-actions .checkbox {
  margin-left: 0;
  padding-left: 0;
}

.login .content .forget-form .form-actions {
  border: 0;
  margin-bottom: 0;
  padding-bottom: 20px;
}

.login .content .register-form .form-actions {
  border: 0;
  margin-bottom: 0;
  padding-bottom: 0px;
}

.login .content .form-actions .checkbox {
  margin-top: 8px;
  display: inline-block;
  margin-left: 20px;
}

.login .content .form-actions .btn {
  margin-top: 1px;
}

.login .content .forget-password {
  margin-top: 25px;
}

.login .content .create-account {
  border-top: 1px dotted #eee;
  padding-top: 10px;
  margin-top: 15px;
}

.login .content .create-account a {
  display: inline-block;
  margin-top: 5px;
}

/* select2 dropdowns */
.login .content .select2-container {
  border-left: 2px solid #35aa47 !important;
}

.login .content .select2-container .select2-choice {
  border-left: none !important;
}

.login .content .select2-container i {
  display: inline-block;
  position: relative;
  color: #ccc;
  z-index: 1;
  top: 1px;
  margin: 4px 4px 0px -1px;
  width: 16px;
  height: 16px;
  font-size: 16px;
  text-align: center;
}

.login .content .has-error .select2-container i {
  color: #b94a48;
}

.login .content .select2-container a span {
  font-size: 13px;
}

.login .content .select2-container a span img {
  margin-left: 4px;
}

/* footer copyright */
.login .copyright {
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  color: #999;
  font-size: 13px;
}

@media (max-width: 480px) {
  /***
  Login page
  ***/
  .login .logo {
    margin-top: 10px;
  }

  .login .content {
    width: 280px;
  }

  .login .content h3 {
    font-size: 22px;
  }

  .login .checkbox {
    font-size: 13px;
  }
}
/*---------------------login new------------------*/
.tickettape {
 /*   background-color: #666666;*/
   box-shadow: 0 0 100px -12px #000000;
height: 30px;
border: 1px solid rgba(84, 84, 84, 0.30);
left: 0;
position: fixed;
bottom: 0;
/* top: 150px; */
width: 100%;
}
.textslide {
    color: #ffffff;
    margin-top: 4px;
    top:0px;
	loop:-1; 
	scrollamount:1;
    vertical-align: middle;
	width:100%;
	font-size: 14px;
    font-family: "Open Sans";
    color: rgb( 255, 255, 255 );
	z-index: 16;
}
.logojasci {
    margin-top: -70px;
    width: 166px;
}
.logojasciforget{
width:14%;
margin-top:50px;
}
.messasgebox {
color: #ffffff;
border: 1px solid rgba(255, 255, 255, 0.02);
height: 352px;
margin-left: -416px;
position: absolute;
top: 0;
width: 330px;
box-shadow: 0px 0px 100px -80px #000000;
}
.dividerloginmessage {
    border: 1px solid;
    color: #ffffff;
    height: 337px;
    margin-left: -60px;
    position: absolute;
    top: 33px;
	opacity: 0.102;
}
.messageboard {
    color: #ffffff;
    font-size: 24px;
    left: 52px;
    position: absolute;
    text-align: center;
}
.dividerloginmessage {
border: 1px solid;
color: #ffffff;
height: 299px;
margin-left: -60px;
position: absolute;
top: 33px;
opacity: 0.102;
}
.messagetext {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: italic;
    height: 90px;
    left: 17.812px;
    line-height: 1.714;
    position: absolute;
    top: 56.503px;
    width: 330px;
    z-index: 17;
	width:260px;
}
.dividermessagebox {
border: 1px solid;
height: 2px;
left: 12px;
opacity: 0.092;
position: absolute;
top: 42px;
width: 274px;
}
.managehr{
    border: 1px solid;
    left: 12px;
    position: absolute;
    top: 154px;
    width: 270px;
}
.horizontalrow{
width:1100px; 
border-bottom:1px solid #CCCCCC;
margin-top:10px;
}
.margin-bottom-5-right-allign_changepassword {
    margin-bottom: -3px;
    margin-right: -0.1%;
    float: right;
}
.content_pass{
background-color: #fff;
left: 0px;
margin: 0 auto;
padding: 20px 30px 41px;
position: relative;
width: 360px;
height: auto;
box-shadow: 0px 0px 100px -40px #000000;
}